services:
  cloudflared:
    image: cloudflare/cloudflared
    container_name: cloudflared
    env_file: "prod.env"
    command: tunnel --no-autoupdate run
    restart: unless-stopped
    depends_on:
      - django
  db:
    image: postgres
    container_name: postgres
    env_file: "prod.env"
    volumes:
      - ./data_prd/prd/db:/var/lib/postgresql/data
  redis:
    image: redis:alpine
    container_name: redis
  django:
    image: dvermaas/django:latest
    container_name: django
    env_file: "prod.env"
    ports:
      - '8994:8994'
    depends_on:
      - db