{% load static %}

<div class="data-element mb-4">
    <div class="row">
        <div class="col-3">
            <div class="m-1">
                <img src="{% static 'logo.png' %}" height="100%" width="100%" alt="lul">
                <div style="background-color:dodgerblue;text-align: center">#1014</div>
            </div>
        </div>
        
        <div class="col-9">
            <div class="m-2">
                <b>Guy kills boss</b>
                <p>When john got into it...</p>
            </div>
        </div>
    </div>

</div>

<style>
    .data-element {
        background-color:red;
    }
</style>