{% load static %}

<div class="tile mt-4" style="background-color: #161A1D">
    <div class="card-body">
        BOLO
    </div>
    <div class="tile m-1 p-3" style="display: flex !important; align-items: center;">
        <img class="rounded"
             src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/13FCD/production/_130896818_donaldtrumpfullmugshot.jpg.webp"
             height="64px" width="64px" alt="lul">
        <div style="margin-left: 10px;">
            <span><b>Donald Trump</b></span>
            <div class="ml-1 badge rounded-pill text-bg-primary"> Cringe </div><br>
            <span>During a trafficstop at electric avanue donald fucking killed john cop!</span>
        </div>
    </div>
</div>