{% load static %}

<div class="tile mt-4" style="background-color: #161A1D">
    <div class="card-body">
        Warrants
    </div>
    <div class="tile m-1 p-3" style="display: flex !important; align-items: center;">
        <img class="rounded"
             src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/13FCD/production/_130896818_donaldtrumpfullmugshot.jpg.webp"
             height="64px" width="64px" alt="lul">
        <h4 style="margin-left: 10px;">Donald Trump</h4>
        <div class="badge rounded-pill text-bg-primary"> Cringe </div>
    </div>
    <div class="tile m-1 p-3">
        <div class="card-title">
            warrant #1
            fucking john souls
        </div>
    </div>
    <div class="tile m-1 p-3">
        <div class="card-title">
            warrant #1
            fucking john souls
        </div>
    </div>
    <div class="tile m-1 p-3">
        <div class="card-title">
            warrant #1
            fucking john souls
        </div>
    </div>
    <div class="tile m-1 p-3">
        <div class="card-title">
            warrant #1
            fucking john souls
        </div>
    </div>
</div>