{% extends "base.html" %}yout

{% block content %}
    <div class="container  mt-4">
        <a class="btn btn-info" href="/profiles/create"><i class="bi bi-plus h5"></i>Add Profile</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in latest_profile_list %}
                    <tr>
                        <td><a href="/profiles/detail/{{ profile.id }}/">{{ profile.id }}</a></td>
                        <td>{{ profile }}</td>
                        <td>
                            {% for tag in profile.tags.all %}
                                <span class="badge rounded-pill text-bg-info">{{ tag }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}