{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row" style="height:100%;">
            <div class="col-md-12 mt-4">
                <div class="card" style="height: 80%;">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Profiles</span>
                        <a class="btn p-0" href="/profiles/create/{{ profile.id }}">
                            <i class="bi bi-plus"></i>
                        </a>
                    </div>

                    <!-- Container for the report table -->
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Tags</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr hx-get="/profiles/table"
                                hx-trigger="revealed"
                                hx-swap="afterend">
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}