{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                {% include 'accounts/partials/warrants.html' %}
            </div>

            <div class="col-md-4">
                {% include 'accounts/partials/announcements.html' %}
            </div>

            <div class="col-md-4">
                {% include 'accounts/partials/processed.html' %}
            </div>
        </div>
    </div>
{% endblock content %}