<div id="table-container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td><a href="/profiles/detail/{{ profile.id }}/">{{ profile.id }}</a></td>
                <td>{{ profile }}</td>
                <td>
                    {% for tag in profile.tags.all %}
                        {% include "common/partials/tag.html" %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Pagination Controls -->
    <div class="pagination">
        {% for i in profiles.paginator.page_range %}
            <button class="btn btn-primary m-1 {% if profiles.number == i %} active {% endif %}"
                    hx-get="{% url 'profiles:tabulated' %}?page={{ i }}"
                    hx-target="#table-container"
                    hx-swap="outerHTML">
                {{ i }}
            </button>
        {% endfor %}
    </div>
</div>