{% for profile in profiles %}
    {% if forloop.last and profiles.next_page_number %}
        <tr hx-get="/profiles/table?page={{ profiles.next_page_number }}"
            hx-trigger="intersect once"
            hx-swap="afterend">
            {% else %}
        <tr>
    {% endif %}

<td><a href="{% url 'profiles:detail' profile.pk %}">{{ profile.pk }}</a></td>
<td>{{ profile }}</td>
<td>
    {% for tag in profile.tags.all %}
        {% include "common/partials/tag.html" %}
    {% endfor %}
</td>
</tr>
{% endfor %}