{% load static %}

{% include 'partials/svg.html' %}

<!-- SIDEBAR -->
<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
    <a href="/"
       class="d-flex align-items-center me-md-auto text-white text-decoration-none" style="background-color: #5a23c8">
        <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#glasses"></use>
        </svg>
        <span class="fs-4" style="font-family: Helvetica;font-size:30px;">
            <b>Open<span style="color:red;">MDT</span></b>
        </span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}"
               class="nav-link {% if request.path == '/' %}active{% else %}text-white{% endif %}" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                Dashboard
            </a>
        </li>
        <li>
            <a href="{% url 'profiles:index' %}"
               class="nav-link {% if 'profiles' in request.path %}active{% else %}text-white{% endif %}">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#person"></use>
                </svg>
                Profiles
            </a>
        </li>
        <li>
            <a href="{% url 'reports:index' %}"
               class="nav-link {% if 'reports' in request.path %}active{% else %}text-white{% endif %}">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#file"></use>
                </svg>
                Reports
            </a>
        </li>
        <li>
            <a href="{% url 'legislations:index' %}"
               class="nav-link {% if 'legislations' in request.path %}active{% else %}text-white{% endif %}">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#note"></use>
                </svg>
                Legislation
            </a>
        </li>
    </ul>
    <hr>
    {% if user.is_authenticated %}
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" aria-expanded="false">
{#                <img src="{% static 'rim.png' %}" alt="" width="32" height="32" class="rounded-circle me-2">#}
{#                <object type="image/svg+xml" data="https://www.svgrepo.com/show/148626/test.svg" class="rank-icon"></object>#}
{#                <object type="image/svg+xml" data="https://static.wikia.nocookie.net/nopixel/images/e/e6/Site-logo.png/revision/latest?cb=20231216204513" class="rank-icon"></object>#}
                <img src="{{ user.rank.icon.url }}" alt="{{ user.rank }}" style="padding-right: 10px;"/>
                <strong>{{ user }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/accounts/logout">Sign out</a></li>
            </ul>
        </div>
    {% else %}
        <a class="btn btn-info" href="/accounts/login">Sign in</a>
    {% endif %}

</div>